Phases/Phase3/yazan/.flaskenv
Phases/Phase3/yazan/.idea
Phases/Phase3/yazan/__pycache__

Phases/Phase3/osaid/.flaskenv
Phases/Phase3/osaid/.idea
Phases/Phase3/osaid/__pycache__

Project_files/.flaskenv
Project_files/.idea
Project_files/__pycache__
Project_files/.vscode
.idea
.venv
Project_files/app/__pycache__
