Phases/Phase3/yazan/.flaskenv
Phases/Phase3/yazan/.idea
Phases/Phase3/yazan/__pycache__

Phases/Phase3/osaid/.flaskenv
Phases/Phase3/osaid/.idea
Phases/Phase3/osaid/__pycache__

Project_files/.flaskenv
Project_files/.env
Project_files/.idea
Project_files/__pycache__
Project_files/.vscode
.idea
.venv
venv
Project_files/app/__pycache__
Project_files/models/__pycache__
Project_files/utils/__pycache__
Project_files/utils/queries/__pycache__
Project_files/app/__pycache__/*
Project_files/app/templates1/*
Project_files/app/static1/*
Project_files/.ipynb_checkpoints
