/* Dropdown container */
.action-dropdown {
    position: relative;
    display: inline-block;
}

/* Vertical three dots button */
.action-dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    padding: 5px;
}

/* Dropdown menu */
.action-dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
    min-width: 140px; /* Adjust for longer text */
    padding: 0;
}

/* Menu buttons */
.action-dropdown-menu button {
    padding: 10px 15px;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

.action-dropdown-menu button:hover {
    background-color: #f5f5f5;
}

/* Show menu on active */
.action-dropdown.active .action-dropdown-menu {
    display: block;
}


/************************************************************************/
/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.address-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.address-table th,
.address-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.address-table th {
    background-color: #176b87;
    color: #fff;
}


.add-address-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.add-address-btn {
  background-color: #176B87;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.add-address-btn:hover {
  background-color: #78B3CE;
}